@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700; 1.900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #CCC;
    font-family: "Roboto", sans-serif;;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: gray;
    padding: 0 20px;
}

.navigate{
    text-decoration: none;
    color: blueviolet;
    padding: 15px 25px;
}

.navigate:hover{
    background-color: rgb(150, 122, 177);
}

#btn-contact{
    background-color: blueviolet;
    width: 70px;
    margin: 10px;
    border-radius: 10px;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

#btn-contact:hover{

}